.footer {
  position: absolute;
  bottom: 0;
  left:50%;
  text-align: center;
  z-index:1;
  transform: translateX(-112px);

  &__link {
    display: inline-block;
    padding: 12px 20px;
    opacity: 0.4;
    font-size:.8em;
    transition: opacity 0.8s $ease-out-quint;

    &:hover {
      opacity: 1;
    }
  }
}

.page__skip{
  position:fixed;
  right:10px;
  bottom:0;
  padding: 12px 20px;
  z-index:10;
  opacity:0;
}

.page__back{
  position:fixed;
  left:10px;
  bottom:0;
  padding: 12px 20px;
  z-index:10;
  opacity:0;
}
